$yesBg:radial-gradient(ellipse at top, #2FE663, #11998E);
$noBg:radial-gradient(ellipse at top, #ED213A, #93291E);
$defaultBg:radial-gradient(ellipse at top, #FDFBFB, #EBEDEE);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'poppins', sans-serif;
  text-align: center;

  &.no-scroll {
    overflow: hidden;
  }
}

.app {
  width: 90vw;
  max-width: 800px;
  margin: 30px auto;
  padding-bottom: 60px;


  h1 {
    font-size: 40px;
    font-weight: 600;
    letter-spacing: -1px;
  }

  .test-info {
    color: rgb(255, 0, 0);
    margin: -5px 0;
    font-size: 14px;
  }

  section {
    margin: 15px 0;
    text-align: left;

    h3 {
      position: relative;
      display: inline-block;
      margin-bottom: 18px;
      font-size: 22px;
      font-weight: 300;
      letter-spacing: 2px;

      &::after {
        content: '';
        position: absolute;
        bottom: -7px;
        left: 0;
        border-bottom: 2px solid black;
        width: 140%;
      }
    }

    .group-select {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      .age-group {
        // margin-right: 50px;

        select {
          width: 190px;
          padding: 10px 20px;
          font-size: 15px;
          font-weight: 300;
        }
      }

      .gender {
        display: flex;
        align-items: center;

        input {
          margin: 6px 10px auto 50px;
        }

        label {
          font-size: 15px;
          font-weight: 300;
        }
      }
    }

    .answers {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        width: 2.9em;
        height: 2.9em;
        margin: 5px;
        font-weight: 600;
        border-radius: 50%;
        border: none;
        background-color: white;

        background-position: -50% 0;
        cursor: pointer;
        will-change: transform;
        transition: .15s transform ease-in-out;
        position: relative;

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          box-shadow: 0 0.8em 10px -0.5em rgba($color: #000000, $alpha: 0.1);
          // background: #000;
          border-radius: inherit;
          will-change: opacity;
          transition: .2s opacity ease-in-out;
        }

        &:hover {
          transform: scale(1.1);

          &::before {
            opacity: .3;
          }
        }

        &.yes {
          color: white;
          background: $yesBg;

          &:focus {
            outline: rgba(47, 230, 99, .5) 2px solid;
          }
        }

        &.no {
          color: white;
          background: $noBg;

          &:focus {
            outline: rgba(125, 0, 0, .5) 2px solid;
          }
        }

        &.default {
          color: #222;
          background: $defaultBg;

          &:focus {
            outline: rgba(169, 169, 169, .5) 2px solid;
          }
        }
      }

    }

    .legend {
      position: relative;
      margin-top: 18px;
      display: inline-block;
      font-size: 14px;

      &::after {
        content: '';
        position: absolute;
        top: -5px;
        left: 0;
        border-top: 1px solid black;
        width: 50%;
      }

      .yes,
      .no,
      .default {
        &::before {
          content: '';
          display: inline-block;
          width: 1.4em;
          height: 1.4em;
          background: #000;
          border-radius: 50%;
          margin: 0 5px;
          transform: translateY(20%)
        }
      }

      .yes::before {
        background-image: $yesBg;
      }

      .no::before {
        background-image: $noBg;
      }

      .default::before {
        background-image: $defaultBg;
      }
    }

    .buttons {
      margin-top: 27px;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 2;
      padding: 15px 0;
      background: rgba(255, 255, 255, 0.9);
      text-align: center;

      box-shadow: 0 -3px 15px rgba(0, 0, 0, .1);

      button {
        font-size: 18px;
        padding: 0.3em 2em;
        color: white;
        background-image: linear-gradient(#00D2DF, #001A9F);
        border: none;
        border-radius: 60px;
        box-shadow: 0 20px 15px -15px rgba(0, 0, 0, .1), 0 10px 10px -10px rgba(0, 0, 0, .1), 0 5px 5px -4px rgba(0, 0, 0, .2), 0 2px 3px -2px rgba(0, 0, 0, .3);
        cursor: pointer;
        will-change: transform;
        transition: .15s transform ease-in-out;
        position: relative;

        &::before {
          content: '';
          position: absolute;
          display: block;
          width: 100%;
          height: 100%;
          border-radius: inherit;
          left: 0;
          top: 0;
          // background: #000;
          box-shadow: inset 0 20px 20px -15px black;
          opacity: 0;
          will-change: opacity;
          transition: .15s opacity ease-in-out;
        }

        &#reset {
          background-image: linear-gradient(#FC5D5D, #7D0000);
          margin-left: 20px;
        }

        &:hover,
        &:focus {
          transform: scale(.95);

          &::before {
            opacity: .4;
          }
        }
      }
    }

  }

  .previev {
    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      &>div {
        margin: 5px;
        padding: 8px;
        width: 100%;
        border: 1px solid rgba(112, 112, 112, .15);
        box-shadow: 0 8px 20px -15px rgba(0, 0, 0, .2);
        border-radius: 6px;



        h4 {
          display: inline-block;
          margin-bottom: 5px;
          font-size: 14px;
          font-weight: 300;
          letter-spacing: 3px;
          color: #222;
          box-shadow: 0 4px 6px -5px rgba(0, 0, 0, .3)
        }

        div {
          display: flex;
          align-items: center;

          span {
            font-weight: 400;
            font-size: 13px;
          }

          ul {
            display: flex;
            flex-wrap: wrap;
            padding: 0;
            margin-left: 3px;
            list-style-type: none;

            li {
              font-size: 10px;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 2.2em;
              height: 2.2em;
              margin: 3px;
              border-radius: 50%;
              color: white;

              &.yes {
                background-image: $yesBg;
              }

              &.no {
                background-image: $noBg;
              }
            }
          }
        }
      }
    }
  }

  .result-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // z-index: 1;
    max-width: 930px;
    width: 95%;
    // height: 600px;
    color: rgb(0, 0, 0);
    z-index: 20;
    opacity: 0;
    pointer-events: none;
    will-change: opacity;
    transition: .2s opacity ease-in;

    &.visible {
      opacity: 1;
      pointer-events: all;
      max-height: 95vh;

      .content {
        transform: scale(1);
        overflow-y: auto;
        overflow-x: hidden;
        max-height: 95vh;
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 101vw;
      height: 101vh;
      background: #000;
      z-index: -1;
      opacity: .3;
    }

    $padding:10px;

    .content {
      position: relative;
      width: 100%;
      height: 100%;
      padding: $padding;
      background: #fff;
      border-radius: 13px;
      box-shadow: 0 10px 20px -10px rgba(0, 0, 0, .3);
      will-change: transform;
      transition: .2s transform ease-in;
      transform: scale(0);

      h2 {
        display: inline-block;
        font-size: 21px;
        font-weight: 500;
        padding: 0.6em 1.2em;
        border: rgba(0, 0, 0, .05) solid 1px;
        box-shadow: 0 7px 15px -5px rgba(0, 0, 0, .05);
        margin: $padding 0 $padding 0;
        border-radius: 14px;
      }

      .close-results {
        position: absolute;
        font-size: 10px;
        right: .5em;
        top: .5em;
        width: 5em;
        height: 5em;
        // border-radius: 50%;
        background: transparent;
        border: none;
        cursor: pointer;
        will-change: transform;
        transition: .3s .3s transform ease-out;

        &::before,
        &::after {
          content: '';
          position: absolute;
          right: 50%;
          top: 50%;
          transform: translate(50%, -50%) rotate(45deg);
          width: 65%;
          height: .2em;
          background: #000;
          will-change: transform;
          transition: .3s transform ease-out;
        }

        &::before {
          transform: translate(50%, -50%) rotate(-45deg);
        }

        &:hover,
        &:focus {
          transition: .3s transform ease-out;
          transform: rotate(180deg);

          &::before,
          &::after {

            transition: .3s .3s transform ease-out;
          }

          &::before {
            transform: translate(50%, -50%) rotate(45deg);
          }

          &::after {
            transform: translate(50%, -50%) rotate(-45deg);
          }
        }
      }

      .boxes {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .box {
          flex: 1 1 47%;
          margin: $padding;
          padding: $padding*0.75;
          box-shadow: 0 10px 15px -5px rgba(0, 0, 0, .05);

          .wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;

            &:first-child {
              color: #fff;
            }

            h3 {
              font-size: 22px;
              font-weight: 300;
              letter-spacing: 2px;
              text-shadow: 2px 2px 1px rgba(0, 0, 0, .2);
            }
          }

          span {
            flex: 1;
            box-shadow: 0 0 0 1px #e6e6e6;
            line-height: 50px;
            background: #fff;

          }

          &:nth-of-type(1) .wrapper:first-child {
            background: linear-gradient(130deg, #673AB7 0%, #9C27B0 100%);
          }

          &:nth-of-type(2) .wrapper:first-child {
            background: linear-gradient(130deg, #ff4e79 0%, #ff9b7d 100%);
          }

          &:nth-of-type(3) .wrapper:first-child {
            background: linear-gradient(130deg, #3abe47 0%, #bfe553 100%);
          }

          &:nth-of-type(4) .wrapper:first-child {
            background: linear-gradient(130deg, #005bea 0%, #00c6fb 100%);
          }
        }
      }
    }
  }
}